@charset "UTF-8";

.mybg{
	background-color: #911bcc;
}
.my-btn-border{
	border-color: #26408B;
	color: #26408B;
	font-weight: bold;
}
.admincard{
	background-color: #26408B;
	color: white;
	
}
.mycard{
	margin-top: 50px;
	border:10px soild grey;
	padding: 15px;
}